@font-face {
	font-family: "Frank Ruhl Libre";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/FrankRuhlLibre-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Frank Ruhl Libre";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/FrankRuhlLibre-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Frank Ruhl Libre";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/FrankRuhlLibre-Bold.ttf") format("truetype");
}

body, p {
	font-family: "Frank Ruhl Libre", "Noto Serif Hebrew", David, serif;
	line-height: 1.65;
	text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	font-family: "Frank Ruhl Libre", "Noto Serif Hebrew", David, serif;
}
